@font-face {
    font-family:bold ;
    src: url(Boldies.otf);
}

body{
    font-family:bold ;
    background-image: url(IMAGENS/fundo.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
H1{text-align: center;
font-size: 100px;
text-decoration: underline;
}
